* {
    font-family: sans-serif;
}
ul {
    font-size: 25px;
    display: inline-block;
    color: navy;
    text-align: center;   
}

li {
    font-size: 15px;
    color: navy; 
}

#stores {
    background-color: lightcyan;
}

#picture {
    background-image: url("salmon.png");
    width: 100%;
    height: 700px;
    text-align: center;
}

#picture h1 {
    color: white;
    padding-top: 110px;
}